{% extends 'base/base-music.html' %}

{% block head %}
    <link href="https://css.gg/css" rel="stylesheet" />
{% endblock head %}

{% block title %}
    Playlists
{% endblock title %}
    
{% block content %}
{% include "partials/home-navbar.html" %}

<main>
    <div>
        <form action="{% url 'playlists' %}" method="post">
            {% csrf_token %}
            <div class="form-control" style="display: flex;flex-direction: row;gap: 10px;">
                <input type="text" placeholder="Write your new playlist name" class="input input-bordered w-24 md:w-auto" style="width: 90%;" name="playlist-name"/>
                <button class="btn" style="width: 10%;">Add</button>
              </div>
        </form>
    </div>
    {% if playlists %}
    {% for playlist in playlists %}
    <article>
        <h5 class="text-2xl font-bold">{{ playlist.name}}</h5>
        <hr style="margin-bottom: 10px;">
        {% if playlist.song %}
        <div style="display:flex;flex-direction: row;flex-wrap: wrap; gap: 10px;">
            
            {% if playlist.song.all %}
                {% for song in playlist.song.all %}
            
                    
                <div>
                    <div class="card bg-base-100 image-full w-96 shadow-xl">
                        <figure>
                            <img
                            src="{{ song.banner.url }}"
                            alt="Shoes" style="width: 500px;height:200px;"/>
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title" style="font-size: 30px;">{{ song.name }}</h2>
                            <p>{{ song.description }}</p>
                            
                            <div class="card-actions ju stify-end">
                                <a href="{% url 'play_music' song.id %}"><i class="gg-play-button-o"></i></a>
                                <a href="{% url 'info_music' song.id %}""><i class="gg-info"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                    
                    {% endfor %}
                {% else %}
                <div>
                    <strong>No songs added to playlist</strong>
                </div>
                {% endif %}
        </div>
        {% endif %}
    </article>
    {% endfor %}
    {% else %}
    <div style="display: flex;justify-content: center;align-items: center;margin-top: 300px;font-size: 30px;">
        No playlists created
    </div>
    {% endif %}
</main>
{% endblock %}
